<h3 class="mb-3">Listado de noticias</h3>
<div class="row gy-3">
    <div class="col-md-3" *ngFor="let n of noticias">
        <div class="card-sl">
            <div class="card-image">
                <img src="{{n.enlaceImg}}"/>
            </div>
            <div class="card-heading">
              {{n.titulo}}
            </div>
            <div class="card-text">
              {{n.medio}}
            </div>
            <div class="card-text">
              {{n.fechaPub}}
            </div>
            <a class="card-button" (click)="verDetalles(n)">Ver Detalles</a>
        </div>
    </div>
</div>  